body {  
  text-align: center;
  background-color: #789edb;
}

#centerpage {
  background-color: #abc2e8;
  border: 2px solid #13294c;
  
}

#banner {    
  position: fixed;
  top: 0px;
  margin-left: -17px;
  padding-bottom: 75px;
  background-color: #031054;
}

#butt1 {
  position: fixed;
  margin-left: 750px;
  margin-top: 20px;
  color: #abc2e8;
  background-color: #3d6fc6;
}

#butt2 {
  position: fixed;
  margin-left: 830px;
  margin-top: 20px;
  color: #abc2e8;
  background-color: #3d6fc6;
}

#butt3 {
  position: fixed;
  margin-left: 944px;
  margin-top: 20px;
  color: #abc2e8;
  background-color: #3d6fc6;
}

#p1 {
  margin-left: -420px;
  margin-top: 160px;
  color: #13294c;
  font-family: Verdana;
  font-size: 17px;
  font-weight: bold;
}

#p2 {
  margin-top: 200px;
  font-size: 30px;
  font-family: Arial;
  color: #13294c;
  
}

#p3 {
  margin-top: 600px;
  font-size: 30px;
  font-family: Arial;
  color: #13294c;
  
}

#img1 {
  margin-left: 560px;
  margin-top: -2430px;
  border-radius: 10%;
}

#img2 {
  border: 1px solid white;
  border-radius: 4px;
  width: 400px;
  height: 200px;
}

#p4 {  
  margin-bottom: -200px;
  margin-left: 220px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  width: 200px;
  word-wrap: break-word;
}

#firstname {
  padding-left: 300px;
  padding-bottom: 12px;
}

#lastname {
  padding-left: 300px;
  padding-bottom: 12px;
}

#message {
  padding-left: 332px;
}

textarea {
  vertical-align: top;
}

input[type=text], select, textarea {
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4%;
}

#send {
  padding-left: 360px;
  padding-top: 12px;
  padding-bottom: 40px;
}

input[type=submit] {
  border: none;
  border-radius: 4%;
  padding: 10px 18px;
  color: #abc2e8;
  background-color: #3d6fc6;
}

#p5 {
  font-family: arial;
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 10px;
}
